$h-sidebar-navigation: calc(100px + 150px + 70px);

:host {
  @apply max-w-[250px] min-h-screen overflow-hidden flex flex-col border-r-2 border-zinc-800/50;
  .scrollbar {
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: theme("colors.zinc.900");
      border-radius: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: theme("colors.zinc.900");
    }

    &::-webkit-scrollbar-button {
      display: none;
    }
  }

  &:hover {
    .scrollbar {
      &::-webkit-scrollbar-thumb {
        background-color: theme("colors.green.600");
      }
    }
  }

  .sidebar-navigation__playlist {
    max-height: calc(94vh - $h-sidebar-navigation);
  }
}