<div class="flex flex-col max-h-screen w-full px-14">
  <div class="pb-5 w-full">
    <span class="font-title-lg mt-8">Top Artist</span>

    <app-top-artists></app-top-artists>
  </div>

  <span class="font-title-lg mt-5">Liked Songs</span>

  <table class="w-full text-left table-fixed border-separate mt-5 px-">
    <thead>
      <tr>
        <th class="w-[5%]">#</th>
        <th class="w-[35%]">Title</th>
        <th class="w-[30%]">Artist</th>
        <th class="w-[10%]">Duration</th>
        <th class="w-1/5">Album</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let song of songs">
        <td>
          <fa-icon class="text-green-500 text-xs" [icon]="playIcon"></fa-icon>
        </td>
        <td>{{ song.name }}</td>
        <td>{{ fotmatArsists(song.artists) }}</td>
        <td>{{ formatTime(song.durationMs) }}</td>
        <td>{{ song.album.name }}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-sidebar-artists></app-sidebar-artists>
