<div
  class="shadow-lg shadow-green-900/30 rounded-2xl bg-zinc-900 mt-6 h-52 flex justify-between">
  <div class="flex flex-col justify-center items-start h-full gap-4 px-8">
    <span class="font-title-lg text-zinc-200">{{ artist.name }}</span>
    <button
      class="bg-green-500 text-zinc-900 text-base font-medium rounded-2xl px-6 py-1">
      Play
    </button>
  </div>

  <div class="flex text-white h-full justify-center flex-col">
    <span class="font-title-md">Top Musics</span>
    <ul class="flex flex-col mt-2">
      <li *ngFor="let track of tracks; let i = index">
        <p class="inline">{{ i + 1 }}. {{ track.name }} -</p>
        <p class="text-green-500 inline">
          {{ ' ' + formatTime(track.duration_ms) }}
        </p>
      </li>
    </ul>
  </div>

  <img class="rounded-r-2xl" [src]="artist.imageUrl" alt="" />
</div>
